.App {
  text-align: center;
}

.App-stats {
  background-color: #c6ccd3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.div-inline {
  display:inline-block;
}

.total-points {
  padding-top: 10px;
}

.reset-button {
  margin-top: 10px;
}